<div id="contact-us" class="contact-us">
  <!-- background-image -->
  <div class="contact-us_image-wrapper">
    <img src="/images/form_banner.png" alt="" />
  </div>
  <!-- background-image-shadow -->
  <div class="contact-us_image-shadow">
    <img src="/images/form_banner-shadow.png" alt="shadow-image" />
  </div>

  <div class="contact-us_content-wrapper">
    <!-- left paragraph -->
    <div class="contact-us_content-wrapper_left-paragraph">
      <!-- Adevertise with us -->
      <div class="contact-us_content-wrapper_left-paragraph_adevertise">
        <h2>Adevertise with us</h2>
        <p>
          Contact us and our experts will help you to find the solution to your
          advertising.
        </p>
      </div>
      <!-- office address -->
      <div class="contact-us_content-wrapper_left-paragraph_offline-address">
        <h3>OFFICE ADDRESS</h3>
        <p>
          APL Tower Central Park 35th floor, Podomoro City, JL. Let. Jend. S.
          Parman Kav. 28, Jakarta 11470
        </p>
      </div>
      <!-- contact method -->
      <div class="contact-us_content-wrapper_left-paragraph_contact-method">
        <div>
          <img src="/images/icon/phone.png" alt="phone-icon" />
          <p>(+62) 812 8007 9099</p>
        </div>
        <div>
          <img src="/images/icon/email.png" alt="email-icon" />
          <p>marketing@dataindomedia.co.id</p>
        </div>
        <div>
          <img
            src="/images/icon/location-transparant-icon.png"
            alt="email-icon"
          />
          <p>
            APL Tower Central Park 35th floor, Podomoro City, JL. Let. Jend. S.
            Parman Kav. 28, Jakarta 11470
          </p>
        </div>
      </div>
    </div>
    <!-- right form -->
    <form class="contact-us_content-wrapper_form" action="submit">
      <!-- top -->
      <div class="contact-us_content-wrapper_form_top">
        <!-- NAME -->
        <div>
          <label for="name">NAME </label>
          <input type="text" name="name" />
        </div>
        <!-- EMAIL -->
        <div>
          <label for="email">EMAIL </label>
          <input type="email" name="name" />
        </div>
      </div>

      <!-- medium -->
      <div class="contact-us_content-wrapper_form_medium">
        <!-- PHONE -->
        <div class="contact-us_content-wrapper_form_medium_phone">
          <label for="phone" class="mb-7">PHONE</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
            class="border-b-2 bg-transparent"
          />
        </div>
        <!-- SUBJECT -->
        <div class="contact-us_content-wrapper_form_medium_subject">
          <label
            for="radio"
            class="contact-us_content-wrapper_form_medium_subject_label"
            >SUBJECT
          </label>
          <div class="contact-us_content-wrapper_form_medium_subject_radio">
            <div class="form-control">
              <label class="label">
                <input type="radio" name="radio-10" class="radio" checked />
                <span class="">Indoor</span>
              </label>
            </div>
            <div class="form-control">
              <label class="label flex cursor-pointer gap-3">
                <input
                  type="radio"
                  name="radio-10"
                  class="radio h-[30px] w-[30px] border-bg-white"
                />
                <span class="">Indoor</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- bottom -->
      <div class="contact-us_content-wrapper_form_bottom">
        <label for="" class="contact-us_content-wrapper_form_bottom_label"
          >MESSAGE</label
        >
        <textarea placeholder="" class="textarea"></textarea>
      </div>

      <!-- submit button -->
      <button type="button" class="contact-us_content-wrapper_form_submitBtn">
        Send
      </button>
    </form>
  </div>
</div>
<!-- send email -->
<div id="news-letter" class="news-letter">
  <p>Newsletter</p>
  <div class="news-letter_wrapper">
    <form action="submit" class="news-letter_wrapper_form">
      <input type="email" name="email" placeholder="Your email" />
      <button type="button">
        <img src="/images/icon/submit.png" alt="send icon" />
      </button>
    </form>
  </div>
</div>
<!-- footer -->
<div id="footer" class="footer-section relative w-full text-bg-white">
  <!-- paragraph -->
  <p class="footer-section_paragraph">
    <span>
      © 2022. PT Data Indo Media. All rights reserved. The material of this site
      may not be reproduced, distributed, transmitted, cached, or otherwise
      used, except with the prior written permission of PT Data Indo Media.
    </span>
    <span>
      It is a long established fact that a reader will be distracted by the
      readable
    </span>
  </p>

  <!-- smooth button -->
  <button type="button" class="footer-section_backTopBtn">
    <img src="/images/icon/arrow-top.png" alt="arrow-top-icon" />
  </button>
</div>
