<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Outdoor Main Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="outdoor" class="outdoor">
      <!-- nav-bar -->
      <%- include('navbar/navbar.html') %>

      <!-- banner -->
      <div class="outdoor_banner">
        <h1>OUTDOOR</h1>
        <hr />
        <h2>Videotron</h2>
        <p>
          Increase your brand awareness with more than 100 iMedia and 12
          Videotron that are located in strategic areas. Our media coverage is
          Nationwide, you can choose the perfect place to advertise your brands
          or products.
        </p>
      </div>

      <!-- product -->
      <div class="outdoor_media">
        <div class="outdoor_media_wrapper">
          <div class="outdoor_media_wrapper_triangleMask">
            <img
              src="/images/outdoor/outdoor_triangleMask.png"
              alt="triangle-mask"
            />
          </div>
          <div class="outdoor_media_wrapper_product">
            <!-- <img src="/images/outdoor/outdoor_product.png" alt="outdoor-product" /> -->
          </div>
          <div class="outdoor_media_wrapper_content">
            <h2>Videotron (Outdoor)</h2>
            <ul>
              <li>
                <span> Using: </span>
                <span> Nichia SMD P10 Module </span>
              </li>
              <li>
                <span> Brightness: </span>
                <span> 7000 nits </span>
              </li>
              <li>
                <span> Banner size: </span>
                <span> 3 x 1.5 meters </span>
              </li>
              <li>
                <span> Resolution: </span>
                <span> Full HD </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- converage -->
      <div id="outdoor-converage">
        <div class="converage_wrapper">
          <!-- Header -->
          <div class="converage_header">
            <h1>
              <span>Media</span>
              <span>Converage</span>
            </h1>
            <p>Our media coverage are spread through the nation wide</p>
          </div>
          <!-- Content -->
          <div class="converage_content">
            <div id="converage-outdoor" class="tabs-content"></div>
          </div>
          <!-- Map -->
          <div class="converage_map">
            <p>Map</p>
            <div class="map-watermask">
              <p>LOCATION</p>
              <p>JAVA ISLAND</p>
            </div>
          </div>
        </div>
      </div>

      <!-- location -->
      <div id="outdoor-location">
        <div class="wrapper">
          <h1>
            <span>Our</span>
            <span>Location</span>
          </h1>
          <h3>
            Our products located in strategic areas with lots of visitors, so
            your ads will be more visible.
          </h3>

          <!-- TODO:selector -->
          <!-- tabs -->
          <div class="tabs">
            <!-- outdoor -->
            <div class="tabs_content">
              <div class="tabs_outdoor-card-wrapper">
                <!-- outdoor-card -->
                <div class="tabs_outdoor-card">
                  <img
                    class="tabs_outdoor-card_image"
                    src="/images/location/outdoor/cibinong.png"
                    alt="cibinong"
                  />
                  <div
                    class="tabs_outdoor-card_location-icon"
                    alt="location-icon"
                  ></div>
                  <div class="tabs_outdoor-card-content">
                    <h4>Cibinong</h4>
                    <a href="/dim-website/outdoorDetail.html">
                      <span> See detail </span>
                      <div class="tabs_outdoor-card-content_arrow-right"></div>
                    </a>
                  </div>
                </div>
                <!-- outdoor-card -->
                <div class="tabs_outdoor-card">
                  <img
                    class="tabs_outdoor-card_image"
                    src="/images/location/outdoor/cibinong.png"
                    alt="cibinong"
                  />
                  <div
                    class="tabs_outdoor-card_location-icon"
                    alt="location-icon"
                  ></div>
                  <div class="tabs_outdoor-card-content">
                    <h4>Cibinong</h4>
                    <a href="/dim-website/outdoorDetail.html">
                      <span> See detail </span>
                      <div class="tabs_outdoor-card-content_arrow-right"></div>
                    </a>
                  </div>
                </div>
                <!-- outdoor-card -->
                <div class="tabs_outdoor-card">
                  <img
                    class="tabs_outdoor-card_image"
                    src="/images/location/outdoor/cibinong.png"
                    alt="cibinong"
                  />
                  <div
                    class="tabs_outdoor-card_location-icon"
                    alt="location-icon"
                  ></div>
                  <div class="tabs_outdoor-card-content">
                    <h4>Cibinong</h4>
                    <a href="/dim-website/outdoorDetail.html">
                      <span> See detail </span>
                      <div class="tabs_outdoor-card-content_arrow-right"></div>
                    </a>
                  </div>
                </div>
                <!-- outdoor-card -->
                <div class="tabs_outdoor-card">
                  <img
                    class="tabs_outdoor-card_image"
                    src="/images/location/outdoor/cibinong.png"
                    alt="cibinong"
                  />
                  <div
                    class="tabs_outdoor-card_location-icon"
                    alt="location-icon"
                  ></div>
                  <div class="tabs_outdoor-card-content">
                    <h4>Cibinong</h4>
                    <a href="/dim-website/outdoorDetail.html">
                      <span> See detail </span>
                      <div class="tabs_outdoor-card-content_arrow-right"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <%- include('footer/footer.html') %>
    </div>

    <script type="module" src="./src/assets/script/compontents.js"></script>
    <script type="module" src="./src/assets/script/outdoor.js"></script>
  </body>
</html>
