<div id="partner">
  <div class="wrapper">
    <div class="triangleMask">
      <img src="/images/partner/partner_image.png" alt="" />
    </div>
    <h1>
      <span>Our</span>
      <span>Partners</span>
    </h1>

    <div class="partners_image-list">
      <!-- top partners -->
      <div class="top-partners">
        <img
          class="top-partners_indochat"
          src="/images/partner/indochat.png"
          alt="IndoChat logo"
        />
        <img
          class="top-partners_antara"
          src="/images/partner/antara.png"
          alt="Antara logo"
        />
        <img
          class="top-partners_chatnews"
          src="/images/partner/chatnews.png"
          alt="Chatnews logo"
        />
      </div>
      <!-- others partners -->

      <div class="others-partners">
        <%for (let i = 1; i <= (imageCount=41); i++) {%>
<img src="/images/partner/other-partners/lg/partner<%= i.toString().padStart(2,"0")%>.png" >
        <%}%>
      </div>
    </div>
  </div>
</div>
