<div id="location">
  <div class="wrapper">
    <h1>
      <span>Our</span>
      <span>Location</span>
    </h1>
    <h3>
      Our products located in strategic areas with lots of visitors, so your ads
      will be more visible.
    </h3>
    <!-- tabs -->
    <div class="tabs">
      <!-- indoor -->
      <input
        type="radio"
        class="tabs_radio"
        name="tabItem"
        id="location-indoor"
        checked
      />
      <label for="location-indoor" class="tabs_label">Indoor</label>
      <div class="tabs_content">
        <div class="tabs_indoor-card-wrapper">
          <div class="tabs_indoor-card-column">
            <div class="tabs_indoor-card">
              <img src="/images/location/indoor/station.png" alt="station" />
              <p>STATION</p>
              <a href="/dim-website/indoorDetail.html">See space</a>
            </div>
            <div class="tabs_indoor-card">
              <img src="/images/location/indoor/airport.png" alt="airport" />
              <p>AIRPORT</p>
              <a href="/dim-website/indoorDetail.html">See space</a>
            </div>
          </div>
          <div class="tabs_indoor-card-column">
            <div class="tabs_indoor-card">
              <img src="/images/location/indoor/hospital.png" alt="hospital" />
              <p>HOSPITAL</p>
              <a href="/dim-website/indoorDetial.html">See space</a>
            </div>
            <div class="tabs_indoor-card">
              <img
                src="/images/location/indoor/government.png"
                alt="government"
              />
              <p>GOVERNMENT</p>
              <a href="/dim-website/indoorDetail.html">See space</a>
            </div>
          </div>
        </div>
      </div>
      <!-- outdoor -->
      <input
        type="radio"
        class="tabs_radio"
        name="tabItem"
        id="location-outdoor"
      />
      <label for="location-outdoor" class="tabs_label">Outdoor</label>
      <div class="tabs_content">
        <div class="tabs_outdoor-card-wrapper">
          <div class="tabs_outdoor-card">
            <img
              class="tabs_outdoor-card_image"
              src="/images/location/outdoor/cibinong.png"
              alt="cibinong"
            />
            <div
              class="tabs_outdoor-card_location-icon"
              alt="location-icon"
            ></div>
            <div class="tabs_outdoor-card-content">
              <h4>Cibinong</h4>
              <p>Outdoor (LED Videotron)</p>
              <a href="/dim-website/outdoorDetail.html">
                <span> See detail </span>
                <div class="tabs_outdoor-card-content_arrow-right"></div>
              </a>
            </div>
          </div>
          <div class="tabs_outdoor-card">
            <img
              class="tabs_outdoor-card_image"
              src="/images/location/outdoor/cibinong.png"
              alt="cibinong"
            />
            <div
              class="tabs_outdoor-card_location-icon"
              alt="location-icon"
            ></div>
            <div class="tabs_outdoor-card-content">
              <h4>Cibinong</h4>
              <p>Outdoor (LED Videotron)</p>
              <a href="/dim-website/outdoorDetail.html">
                <span> See detail </span>
                <div class="tabs_outdoor-card-content_arrow-right"></div>
              </a>
            </div>
          </div>
          <div class="tabs_outdoor-card">
            <img
              class="tabs_outdoor-card_image"
              src="/images/location/outdoor/cibinong.png"
              alt="cibinong"
            />
            <div
              class="tabs_outdoor-card_location-icon"
              alt="location-icon"
            ></div>
            <div class="tabs_outdoor-card-content">
              <h4>Cibinong</h4>
              <p>Outdoor (LED Videotron)</p>
              <a href="/dim-website/outdoorDetail.html">
                <span> See detail </span>
                <div class="tabs_outdoor-card-content_arrow-right"></div>
              </a>
            </div>
          </div>
          <div class="tabs_outdoor-card">
            <img
              class="tabs_outdoor-card_image"
              src="/images/location/outdoor/cibinong.png"
              alt="cibinong"
            />
            <div
              class="tabs_outdoor-card_location-icon"
              alt="location-icon"
            ></div>
            <div class="tabs_outdoor-card-content">
              <h4>Cibinong</h4>
              <p>Outdoor (LED Videotron)</p>
              <a href="/dim-website/outdoorDetail.html">
                <span> See detail </span>
                <div class="tabs_outdoor-card-content_arrow-right"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
