<div class="swiper-slide bg-white flex h-full flex-col justify-between">
  <img src="/images/promotion/swiper-image01.png" alt="swiper-image" />
  <button type="button"></button>
</div>
<div class="swiper-slide bg-white flex h-full flex-col justify-between">
  <img src="/images/promotion/swiper-image01.png" alt="swiper-image" />
  <button type="button"></button>
</div>
<div class="swiper-slide bg-white flex h-full flex-col justify-between">
  <img src="/images/promotion/swiper-image01.png" alt="swiper-image" />
  <button type="button"></button>
</div>
