<nav id="navbar" class="navbar">
  <header>
    <a href="#" class="navbar_logo">
      <img src="/images/navbar/logo.png" alt="logo" />
    </a>
    <!-- FIXME:有 dash 問題，單 dash 沒用 -->
    <button type="button" class="navbar_hamburgerBtn"></button>
  </header>
  <!-- desktop -->
  <div class="navbar_desktop">
    <ul class="navbar_desktop_nav-links">
      <li><a href="/dim-website/index.html">Home</a></li>
      <li><a href="/dim-website/index.html#promotion">Promotion</a></li>
      <li><a href="/dim-website/about.html">About us</a></li>
      <li class="navbar_desktop_nav-links_dropdown">
        <a href="#">Product</a>
        <ul class="navbar_desktop_nav-links_dropdown_dropdown-content">
          <li
            class="navbar_desktop_nav-links_dropdown_dropdown-content_dropdown-content_item"
          >
            <a href="/dim-website/indoor.html">Indoor</a>
          </li>
          <li
            class="navbar_desktop_nav-links_dropdown_dropdown-content_dropdown-content_item"
          >
            <a href="/dim-website/outdoor.html">Outdoor</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar_desktop_social-links">
      <li>
        <a href="#">
          <img src="/images/icon/facebook.png" alt="facebook" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/images/icon/linkedin.png" alt="linkedin" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/images/icon/instagram.png" alt="instagram" />
        </a>
      </li>
    </ul>
    <select name="i18n" id="i18n">
      <option>ENG</option>
      <option>ID</option>
    </select>
    <a class="navbar_desktop_contactUsBtn" href="#contact-us">Contact Us</a>
  </div>
  <!-- tablet -->
  <div class="navbar_tablet">
    <ul class="navbar_tablet_nav-links">
      <li>
        <a href="/dim-website/index.html">Home</a>
      </li>
      <li>
        <a href="/dim-website/index.html#promotion">Promotion</a>
      </li>
      <li>
        <a href="/dim-website/about.html">About us</a>
      </li>
      <li>
        <a href="/dim-website/indoor.html">Indoor</a>
      </li>
      <li>
        <a href="/dim-website/outdoor.html">Outdoor</a>
      </li>
      <li>
        <a href="#contact-us">Contact us</a>
      </li>
    </ul>
    <select name="i18n" id="i18n">
      <option>English</option>
      <option>Indonesia</option>
    </select>
    <p>Follow us on</p>
    <ul class="navbar_tablet_social-links">
      <li>
        <a href="#">
          <img src="/images/icon/facebook.png" alt="facebook" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/images/icon/linkedin.png" alt="linkedin" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/images/icon/instagram.png" alt="instagram" />
        </a>
      </li>
    </ul>
  </div>
</nav>
